<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<table cellpadding="0" cellspacing="0" border="0" align="center" style="background:#f9f9f9;border-collapse:collapse;line-height:100% !important;margin:0;padding:0;width:100% !important;" bgcolor="#f9f9f9">
    <tbody>
        <tr>
            <td>
                <table style="border-collapse:collapse;margin:auto;max-width:635px;min-width:320px;width:100%;">
                    <tbody>
                    <tr>
                        <td valign="top">
                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;color:#c0c0c0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:26px;margin:0 auto 26px;width:100%;"></table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="padding:0 20px;">

                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="background-clip:padding-box;border-collapse:collapse;border-radius:3px;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;width:100%;">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <table cellpadding="0" cellspacing="0" border="0" style="border: none; border-collapse: separate; font-size: 1px; width: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="background: #0e1424; border: none; padding: 15px 0 15px 40px;" bgcolor="#0e1424">
                                                        <a href="http://frontend-science.com"><img alt="" style="height: 75px;" src="cid:mail@logo.png" /></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="0" style="background-clip:padding-box;border-collapse:collapse;border-color:#dddddd;border-radius:0 0 3px 3px;border-style:solid solid none;border-width:0 1px 1px;width:100%;">
                                                <tbody>
                                                    <tr>
                                                        <td style="background:white;background-clip:padding-box;border-radius:0 0 3px 3px;color:#525252;font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:22px;overflow:hidden;padding:40px 40px 30px;" bgcolor="white">
                                                            <p style="line-height:1.5;margin:0 0 17px;padding-top:0;text-align:left !important;" align="left">Привет <%= name %>,</p>

                                                            <p style="line-height:1.5;margin:0 0 17px;text-align:left !important;" align="left">Я только что получил твою заявку на участие в курсе <strong>Node.js Start</strong>.<br/><br/>И когда я рассказал нашей команде, что ты теперь с нами, они выглядели вот так:</p>

                                                            <div style="margin-bottom:16px;text-align:left !important;" align="left">
                                                                <img alt="" style="margin:17px 0;max-width:100%;width:auto;" src="cid:mail@happy.gif">
                                                            </div>
                                                            <p style="line-height:1.5;margin:0 0 17px;text-align:left !important;" align="left">Когда они немного успокоятся, то обязательно созвонятся с тобой.</p>

                                                            <p style="line-height:1.5;margin:0 0 17px;text-align:left !important;" align="left">
                                                                А пока пройди небольшой технический тест. Это займет всего 10-15 минут. Он поможет лучше понять твой текущий уровень.
                                                            </p>

                                                            <p style="line-height:1.5;margin:0 0 17px;text-align:left !important;" align="left">
                                                                <a href="http://app.itsquiz.com/quizwall/activations/574464ae2724510a03a91f4a">Пройти тест.</a>
                                                            </p>

                                                            <p style="line-height:1.5;margin:0 0 17px;text-align:left !important;" align="left">Успехов, и до встречи на занятиях!</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;margin:0 auto;max-width:100%;width:100%;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" width="100%">
                                                <img alt="" style="max-width:100%;width:100%;" src="cid:mail@footer.png">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="75%">
                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%;">
                                                                <tbody>
                                                                <tr>
                                                                    <td colspan="2" style="color:#999999;">
                                                                        <b style="color:#6f6f6f;">Сергей Пузанков, CEO Front-end Science</b>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td width="25%">
                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="middle" align="right" style="color:#999999;font-size:11px;text-align:right;">
                                                                            <span style="white-space: nowrap;"><%= fsPhone %></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" height="20"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
